 body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 30px auto 30px auto;
    color: #4cc4c4;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

span {
    text-decoration: underline;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    margin-bottom: 70px;
    margin-top: 80px;
}

p {
    color: #40514E;
}

a {
    color: #11999E;
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin: 50px 20px 30px 10px;
}

a:hover {
    color: white;
}

.mountain-img {
position: absolute;
bottom: 0;
right: 370px
}
.profile {
    width: 30%;
    margin: 0 auto;
}

.profile-img {
    height: 300px;
width: 300px;
}

.skill-img1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-img2 {
    float: right;
    width: 25%;
    margin-left: 30px;
}

.top-container{
    background-color: #CFFFDC;
    position: relative;
    padding-top: 100px;
    height: 100vh;
}

.middle-container {
    position: relative;
    margin: 100px 0;
}

 skills{    
    position: relative;
    padding-top: 100px;
}

.skill-row {
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
    line-height: 2;
}

.btn {
    background: blue;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 100 bold;
    padding: 10px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid yellowgreen 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -moz-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -ms-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -o-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -webkit-gradient(to bottom, #30E3CB, #3D94F6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }

.bottom-container {
    background-color: #66BFBF;
    height: 10rem;
    margin: 0;
    padding: 0;
    position: relative;
}

.bottom-name {
    color: #EAF6F6;
}

.top-cloud {
position: absolute;
right: 320px;
top: 70px;
}

.bottom-cloud {
position:absolute;
left: 300px;
bottom: 300px;
}
